{% extends 'FarpostWebBundle:Default:base.html.twig' %}

{% block head %}
   {{ parent() }}
   <link type="text/css" href="{{ asset('bundles/fefu-app/css/schedule.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %} Редактор расписания {% endblock %}

{% block body %}
   <table class = "cool-table">
      {% for dset in dows %}
         <thead>
            {% for day in dset %}
               <td class = "grey"> {{ day }} </td>
            {% endfor %}
         </thead>
         <tbody>
         {% for num in nums %}
            <tr>
               <td> {{ num }} </td>
                  {% set current_class = "green" %}
                  {% for day in dset %}
                     {% if current_class == "green" %}
                        {% set current_class = "blue" %}
                     {% else %}
                        {% set current_class = "green" %}
                     {% endif %}
                     {% if day != '' %}
                        <td class = {{ current_class }}>
                           <table class = "embeded-table">
                              <tr>
                                 <td colspan = "2" class = "discipline"> {{ items[day][num]['Дисциплина'] }} </td>
                              </tr>
                              <tr>
                                 <td class = "little"> {{ items[day][num]['Тип занятия'] }} </td>
                                 <td class = "little"> {{ items[day][num]['Аудитория'] }} </td>
                              </tr>
                              <tr>
                                 <td colspan = "2"> {{ items[day][num]['Профессор'] }} </td>
                              </tr>
                           </table>

                           {# {% for elem in items[day][num] %}
                              {{ elem }} <br/>
                           {% endfor %} #}
                        </td>
                     {% endif %}
                  {% endfor %}
            </tr>
         {% endfor %}
         </tbody>
      {% endfor %}
   </table>
{% endblock %}