{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('bundles/farpostcatalogue/js/d3.v3.min.js') }}"></script>#}
    {#<script src="{{ asset('bundles/farpostcatalogue/js/fabric.min.js') }}"></script>#}
    {#<script src="{{ asset('bundles/farpostcatalogue/js/fabricjs_viewport.js') }}"></script>#}
    <script src="{{ asset('bundles/farpostcatalogue/js/cytoscape.js') }}"></script>
    <script src="{{ asset('bundles/farpostcatalogue/js/cytoscape-cxtmenu.js') }}"></script>
    <script src="{{ asset('bundles/farpostcatalogue/js/graph.js') }}"></script>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/farpostcatalogue/css/graph.css') }}">
{% endblock %}

{% trans_default_domain "FarpostCatalogueBundle" %}

{% block sonata_left_side %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">{% trans %}label.editor{% endtrans %}</li>
{% endblock %}

{% block content %}
    <h1>{% trans %}label.editor{% endtrans %}</h1>
    <div id="graph-canvas" style="width: 1500px; height: 1000px"></div>
    <ul oncontextmenu="return false;" id="context-menu" class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
{% endblock %}